.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
  grid-auto-flow: dense;
  margin:20px;
 }
 @media only screen and (min-width: 700px) {
  .cards {
   grid-template-columns: repeat(3, 1fr);
  }
 }
 @media only screen and (min-width: 1100px) {
  .cards {
   grid-template-columns: repeat(6, 1fr);
  }
 }
.big {
  grid-row-start: span 2;
  grid-column-start: span 2;
 }